

<container size='668,418' color='#0F1E2DB2' context='menu'>
    <panel pos='6' size='120' color='0' interval='2'>
        <button id='stgTerra' onclick='set_page("stgTerra", "settingsTerraformer")'>@Terra</button>
        <button id='stgLaser' onclick='set_page("stgLaser", "settings_graphics")'>@Laser</button>
        <button id='stgBuild' onclick='set_page("stgBuild", "settings_controls")'>@Build</button>
    </panel>
    <pagebox id='menu' pos='260,6' size='400'>
    </pagebox>

</container>
